{% extends 'shared/base.html' %}

{% load i18n %}
{% load bs_icons %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mt-3">
        <h1>{% trans 'Invoices' %}</h1>
        <a class="btn btn-sm btn-success" href="{% url 'billy_invoice:cart' %}">
            {% bsicon 'plus-lg' %}
            {% trans 'New invoice' %}
        </a>
    </div>
    <div class="list-group">
    {% for invoice in invoices %}
        <div class="list-group-item">
            {{ invoice }}
            <a href="{% url 'billy_invoice:show-invoice' invoice.pk %}">{% trans 'show' %}</a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
