{% extends 'billy_customer/base.html' %}

{% load i18n %}
{% load static %}

{% block app_javascript %}
<script type="module" src="{% static 'billy_customer/index.js' %}"></script>
{% endblock %}

{% block app_content %}
<div class="container-fluid">
    <ul class="list-unstyled rounded">
    {% for letter, customers in grouped_customers %}
        <li class="">
            <h2 class="container-fluid bg-dark text-white m-0{% if forloop.first %} rounded-top{% endif %}">{{ letter }}</h2>
            <ul class="ps-0 list-group-flush">
            {% for customer in customers %}
                <li class="list-group-item border-start border-end{% if forloop.parentloop.last and forloop.last %} border-bottom rounded-bottom{% endif %}">
                    <a class="link-dark" href="{{ customer.get_absolute_url }}">{{ customer.last_name }}, {{ customer.first_name }}</a>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% empty %}
        <li>{% trans 'No customers to show' %}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
