{% extends 'shared/base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load bs_icons %}
{% load static %}

{% block head_title %}{% trans 'Warehouse' %}{% endblock %}

{% block content %}
{% block app_navigation %}
    <nav class="container-fluid mt-2">
        {% crispy search_form %}
    </nav>
{% endblock %}
{% block app_content %}

{% endblock %}
{% endblock %}

{% block app_javascript %}
<script type="module" src="{% static 'billy_warehouse/default.js' %}"></script>
{% endblock %}

{% block app_modals %}
<div id="add-edit-product-modal" class="modal fade" tabindex="-1" aria-labelledby="add-edit-title" aria-hidden="true" data-bs-focus="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="add-edit-title" class="modal-title">{% trans 'Add or edit a Product' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body" id="add-edit-product-modal-content"></div>
            <div class="modal-footer">
                <button
                    type="submit"
                    class="btn btn-primary btn-sm"
                    form="add-edit-product">
                    {% bsicon 'check-lg' %}
                    {% trans 'Save' %}
                </button>
                <button
                    type="button"
                    class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal">
                    {% bsicon 'x-lg' %}
                    {% trans 'Close' %}
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
(function () {
    function changeProductNameLabel(evt) {
        let nameLabelDiv = document.querySelector("div[data-name-label]");
        let nameInput = document.querySelector("input[name=\"name\"]");
        let label = document.querySelector(`label[for="${nameInput.id}"]`);

        console.log(nameLabelDiv);
        if (nameLabelDiv) {
            label.innerText = nameLabelDiv.getAttribute("data-name-label");
        } else {
            label.innerText = nameInput.getAttribute("data-default-label");
        }
    }

    document.querySelector("#add-edit-product-modal").addEventListener(
        "htmx:afterSwap",
        function (evt) {
            billyShared.showModal(`#${this.id}`);

            document.querySelector(`#${this.id}`).addEventListener(
                "shown.bs.modal", changeProductNameLabel
            );

            document.querySelector("#product-details").addEventListener(
                "htmx:afterSwap", changeProductNameLabel
            );
        }
    );
}());
</script>

<div id="add-to-cart-modal" class="modal fade" tabindex="-1" aria-labelledby="add-to-cart-title" aria-hidden="true" data-bs-focus="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="add-to-cart-title" class="modal-title">{% trans 'Add product to cart' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body" id="add-to-cart-modal-content"></div>
            <div class="modal-footer">
                <button
                    type="submit"
                    class="btn btn-primary btn-sm">
                    {% bsicon 'check-lg' %}
                    {% trans 'Add' %}
                </button>
                <button
                    type="button"
                    class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal">
                    {% bsicon 'x-lg' %}
                    {% trans 'Close' %}
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
(function () {
    document.querySelector("#add-to-cart-modal").addEventListener(
        "htmx:afterSwap",
        function (evt) {
            function changeBruttoPrice() {
                fieldBruttoPrice.value = billyShared.calcBruttoPrice(
                    fieldNettoPrice.value, fieldVAT.value
                ).toFixed(2);
            }
            function changeNettoPrice() {
                fieldNettoPrice.value = billyShared.calcNettoPrice(
                    fieldBruttoPrice.value, fieldVAT.value
                ).toFixed(2);
            }

            billyShared.showModal(`#${this.id}`);

            this.querySelector("button[type=submit]").setAttribute(
                "form", this.querySelector("form").id
            );

            let fieldNettoPrice = this.querySelector("[name=netto_price]");
            let fieldBruttoPrice = this.querySelector("[name=brutto_price]");
            let fieldVAT = this.querySelector("[name=vat]");

            fieldNettoPrice.addEventListener("change", changeBruttoPrice);
            fieldVAT.addEventListener("change", changeBruttoPrice);
            fieldBruttoPrice.addEventListener("change", changeNettoPrice);
        }
    );
}());
</script>
{% endblock %}
