{% load i18n %}
{% load bs_icons %}

<div class="container-fluid" id="products-list" hx-history-elt>
    <ul class="ps-0 list-group">
    {% for product in products %}
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between mb-1">
                <h3>{{ product.name }}</h3>
                <button
                    type="button"
                    class="btn btn-sm btn-outline-primary"
                    hx-target="#add-edit-product-modal-content"
                    hx-get="{% url 'billy_warehouse:edit-product' product.pk %}"
                >
                    {% trans 'Edit' %}
                </button>
            </div>
            <div class="d-flex flex-wrap w-100 justify-content-between">
                <div>{% trans 'Category' %}: {{ product.category }}</div>
                <div>{% trans 'Vendor' %}: {{ product.vendor }}</div>
                <div class="text-nowrap">{% trans 'Netto price' %}: <strong>{{ product.netto_price }}</strong> €</div>
            </div>
            <h4 class="mt-2 mb-0 small text-decoration-underline">{% trans 'Details' %}:</h4>
            <div class="d-flex flex-wrap">
                {{ product.details }}
            </div>
        </li>
    {% empty %}
        <li>{% trans 'No products to show' %}</li>
    {% endfor %}
    </ul>
    <div class="fixed-bottom d-flex justify-content-around align-items-baseline pb-2 pt-2 bg-secondary text-light shadow rounded-top">
        <button
            class="btn btn-sm btn-light"
            title="{% trans 'Go to first page' %}"
            aria-label="{% trans 'Go to first page' %}"
            {% if products.has_previous %}
                hx-get="?p=1"
                hx-target="#products-list"
                hx-swap="outerHTML"
                hx-push-url="true"
            {% else %}
                disabled
            {% endif %}
        >
            {% bsicon 'chevron-double-left' %}
        </button>
        <button
            class="btn btn-sm btn-light"
            title="{% trans 'Go to previous page' %}"
            aria-label="{% trans 'Go to previous page' %}"
            {% if products.has_previous %}
                hx-get="?p={{ products.previous_page_number }}"
                hx-target="#products-list"
                hx-swap="outerHTML"
                hx-push-url="true"
            {% else %}
                disabled
            {% endif %}
        >
            {% bsicon 'chevron-left' %}
        </button>

        <small>
        {% blocktrans with current_page_number=products.number num_pages=products.paginator.num_pages %}
            Showing page {{ current_page_number }} of {{ num_pages }}.
        {% endblocktrans %}
        </small>

        <button
            class="btn btn-sm btn-light"
            title="{% trans 'Go to next page' %}"
            aria-label="{% trans 'Go to next page' %}"
            {% if products.has_next %}
                hx-get="?p={{ products.next_page_number }}"
                hx-target="#products-list"
                hx-swap="outerHTML"
                hx-push-url="true"
            {% else %}
                disabled
            {% endif %}
        >
            {% bsicon 'chevron-right' %}
        </button>
        <button
            class="btn btn-sm btn-light"
            title="{% trans 'Go to last page' %}"
            aria-label="{% trans 'Go to last page' %}"
            {% if products.has_next %}
                hx-get="?p={{ products.paginator.num_pages }}"
                hx-target="#products-list"
                hx-swap="outerHTML"
                hx-push-url="true"
            {% else %}
                disabled
            {% endif %}
        >
            {% bsicon 'chevron-double-right' %}
        </button>
    </div>
</div>
