{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}
{% load django_htmx %}
{% load shared_extras %}
{% load bs_icons %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" />
    <link rel="shortcut icon" type="image/png" href="{% static 'shared/favicon.png' %}"/>
</head>
<body style="min-height: 100%">
    <header class="shadow-sm bg-dark text-light">{% block html_header %}
        <div class="container-md px-0 mx-md-auto">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'start:index' %}">Billy</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarGlobal"
                        aria-content="navbarGlobal"
                        aria-expanded="false"
                        aria-label="{% trans 'Toggle navigation' %}"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarGlobal">
                        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                            <li class="nav-item">
                                <a  class="nav-link {% is_active_namespace request 'billy_customer' %}"
                                    href="{% url 'billy_customer:index' %}"
                                >
                                    {% bsicon 'people-fill' %}
                                    {% trans 'Customers' %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link {% is_active_namespace request 'billy_invoice' %}"
                                    href="{% url 'billy_invoice:index' %}"
                                >
                                    {% bsicon 'receipt' %}
                                    {% trans 'Invoices' %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link {% is_active_namespace request 'billy_warehouse' %}"
                                    href="{% url 'billy_warehouse:index' %}"
                                >
                                    {% bsicon 'boxes' %}
                                    {% trans 'Warehouse' %}
                                </a>
                            </li>
                            {% if request.user.is_superuser %}
                            <li class="nav-item">
                                <a  class="nav-link {% is_active_namespace request 'admin' %}"
                                    href="{% url 'admin:index' %}"
                                >
                                    {% bsicon 'tools' %}
                                    {% trans 'Administration' %}
                                </a>
                            </li>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">
                                    {% bsicon 'door-closed' %}
                                    {% trans 'Logout' %}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    {% endblock %}</header>
    <div class="container-md px-0 mx-md-auto">
    {% block html_content %}
        {% block content %}
        {% endblock %}
    {% endblock %}
    </div>
    <div id="modals-container">
        {% block app_modals %}{% endblock %}
        {% block modals %}{% endblock %}
    </div>
    <footer class="container-fluid shadow-sm bg-dark text-light">
        <div class="container-md px-0 px-md-2 mx-md-auto">
            {% block html_footer %}{% endblock %}
            Powered by <a class="link-light" href="https://djangoproject.com">Django</a>
        </div>
    </footer>

    <script
        src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"
        crossorigin="anonymous"
        integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW">
    </script>
    <script src="https://unpkg.com/hyperscript.org@0.9.1"></script>

    {% bootstrap_javascript%}
    {% django_htmx_script %}

    {% block app_javascript %}
    {% endblock %}
</body>
</html>
